{% extends "layout.njk" %}

{% block head %}

    <title>Kaffa Test - Error 404</title>
    
{% endblock %}

{% block content %}

    <div id="error">
        <h1>Error 404 - Page Not Found!</h1>
        <h2>Sorry, but the page you tried to access was not found. Please, use the upper menu to navigate to another page.</h2>
        <h2>Thank you!</h2>
    </div>

{% endblock %}