{% extends "layout.njk" %}

{% block head %}

    <title>Kaffa Test - Exercice 8</title>
    
{% endblock %}

{% block content %}

<div id="wrapper">
    <h1>Entity relationship diagram of a simple Order Manager System</h1>
    <img id="oms" src="OMSDiagram.png" alt="Order manager systems (OMS) entity relationship diagram">

</div>

{% endblock %}