{% extends "layout.njk" %}

{% block head %}

    <title>Kaffa Test - Exercices 3 & 4</title>
    
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Choose the coordinates of three rectangles</h1>
        <h1>We will check for intersections and calculate their areas</h1>
        <h2 id="result"></h2>
    </div>

    <script src="/script-rectangle.js"></script>

{% endblock %}